<h1 mat-dialog-title>Notifications</h1>
<div mat-dialog-content>
  <div *ngFor="let notification of data.notifications; let i = index" class="notification-item">
    <p>{{ notification }}</p>
    <button mat-icon-button (click)="removeNotification(i)">
      <mat-icon>cancel</mat-icon>
    </button>
    <mat-divider></mat-divider>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="clearNotifications()">Clear</button>
  <button mat-button (click)="closeDialog()">Close</button>
</div>
