<div class="qr-container">
    <div class="qr-form" *ngIf="isFormVisible">
        <div class="qr-header">
            <p>Scan QR CODE</p>
            <button (click)="closeForm()">&#10006;</button>
        </div>
        <div class="py-2 px-3 align-center justify-center">
            <div *ngIf="showQRCode">
                <qrcode [width]="250" (qrCodeURL)="onChange($event)" [qrdata]="qrdata" [allowEmptyString]="true"
                    class="px-5">
                </qrcode>
                <!-- Expiration message -->
                <p *ngIf="!isExpired" class="text-red">Seconds Left: {{ secondsLeft }}</p>
                <div *ngIf="isExpired" class="alert alert-danger text-center">
                    QR Code has expired
                </div>
                <p *ngIf="!isExpired">Coupon Id: {{ qrdata }}</p>
            </div>
            <div class="d-flex py-8" *ngIf="showBtn">
                <button (click)="onClick()" class="btn btn-success mx-auto">Generate Coupon Code</button>
            </div>
        </div>
    </div>
</div>