body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.qr-container {
    width: 100%;
    height: auto;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-form {
    background: #fff;
    padding: 1.5rem;
    max-width: 500px;
}

.qr-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.qr-header p {
    font-weight: 700;
    color: red;
    margin: auto;
    font-size: 1.8rem;
}

.qr-header button {
    color: red;
    background-color: white;
    border: none;
    font-size: x-large;
    cursor: pointer;
    margin-left: 0;
}

.form-group {
    margin: 2px;
}

label {
    display: block;
    margin: 1rem 0;
    color: black;
    font-weight: 400;
    font-size: 18px;
}