<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="toolbar" role="banner">
    <img width="55" alt="Rise Logo" src="./../../assets/logo-white.svg" />
    <span class="title">Meal Facility</span>
    <div class="spacer"></div>
    <ul>
        <li><a routerLink="/about" class="list-items" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
        </li>
        <li><a routerLink="/terms-and-condition" class="list-items" routerLinkActive="active"
                ariaCurrentWhenActive="page">Terms And Condition</a></li>
        <li><a routerLink="/privacy-policy" class="list-items" routerLinkActive="active"
                ariaCurrentWhenActive="page">Privacy Policy</a></li>
        <li><a routerLink="/login" class="list-items" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
        </li>
        <li><a routerLink="/signup" class="list-items" routerLinkActive="active" ariaCurrentWhenActive="page">Signup</a>
        </li>
        <div class="social">
            <a routerLink="/terms-and-condition" aria-label="Notification"><i
                    class="fa-sharp fa-regular fa-bell"></i></a>

            <li class="dropdown">
                <a class="app-nav__item dropdown-toggle" routerLink="/terms-and-condition" data-toggle="dropdown"
                    aria-label="Sidemenu"><i class="fa-solid fa-bars"></i></a>
                <ul class="dropdown-menu settings-menu dropdown-menu-right">
                    <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#changepwdModal">Change
                            Password</a></li>
                    <li><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
            </li>
        </div>
    </ul>
</div>