<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="footer" role="banner">
    <ul>
        <li>
            <p class="list-items" routerLinkActive="active" ariaCurrentWhenActive="page">
                Copyright © 2024 <a routerLink="/terms-and-condition">Meal Facility.</a> All Rights Reserved.
            </p>
        </li>
        <div class="social">
            <a href="https://www.facbook.com" aria-label="Facebook"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com" aria-label="Linkedin"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.twitter.com" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
        </div>
    </ul>
</div>