<div class="connect-section">
  <h2 class="section-title">Connect With Us</h2>

  <div class="contact-method">
    <div class="icon-holder">
      <i class="fa fa-phone icon"></i>
    </div>
    <div class="contact-text">
      <h6 class="contact-title">Got questions? Let’s Talk</h6>
      <p class="contact-details">
        US: <a href="tel:+18777474224">+91 9726712070</a><br />
        UK: <a href="tel:+442070318422">+44 207 031 8422</a><br />
        India: <a href="tel:+918511122697">+91 8511122697</a>
      </p>
    </div>
  </div>

  <div class="contact-method">
    <div class="icon-holder">
      <i class="fa fa-envelope icon"></i>
    </div>
    <div class="contact-text">
      <h6 class="contact-title">Need help? Email us</h6>
      <p class="contact-details">
        <a href="mailto:sales@rishabhsoft.com">sales@rishabhsoft.com</a>
      </p>
    </div>
  </div>
</div>
