<div class="container">
  <div class="connect-section">
    <div class="logo-wrapper">
      <img src="../../assets/logo.svg" alt="Rishabh Software">
      <span>Meal Facility</span>
    </div>
    <h2 class="section-title">Connect With Us</h2>

    <div class="contact-method">
      <div class="icon-holder">
        <i class="fa fa-phone icon"></i>
      </div>
      <div class="contact-text">
        <h6 class="contact-title">Got questions? Let’s Talk</h6>
        <p class="contact-details">
          US: <a href="tel:+18777474224">+91 9726712070</a><br />
          UK: <a href="tel:+442070318422">+44 207 031 8422</a><br />
          India: <a href="tel:+918511122697">+91 8511122697</a>
        </p>
      </div>
    </div>

    <div class="contact-method">
      <div class="icon-holder">
        <i class="fa fa-envelope icon"></i>
      </div>
      <div class="contact-text">
        <h6 class="contact-title">Need help? Email us</h6>
        <p class="contact-details">
          <a href="mailto:sales@rishabhsoft.com">sales@rishabhsoft.com</a>
        </p>
      </div>
    </div>

    <div class="contact-method">
      <div class="icon-holder">
        <i class="fa fa-map-marker icon"></i>
      </div>
      <div class="contact-text">
        <h6 class="contact-title">Address:</h6>
        <p class="contact-details">
          Plot 66, Beside Sigil India, Padra Road,<br />
          Atladra, Vadodara 390012, Gujarat, India.
        </p>
      </div>
    </div>
  </div>
</div>