.connect-section {
      /* background-color: #f9f9f9; */
      padding: 30px;
      border-radius: 10px;
      max-width: 600px;
      margin: 40px auto;
      font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
      /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
      padding-bottom: 10px;
      margin-bottom: 290px;
      margin-left: 550px;
    }
  
    .section-title {
      text-align: left;
      color: rgb(16, 5, 100);
      margin-bottom: 25px;
      font-size: 26px;
      font-weight: bold;
    }
  
    .contact-method {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
  
    .icon-holder {
      background-color: #0073e6;
      border-radius: 50%;
      padding: 15px;
      margin-right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .icon {
      color: #fff;
      font-size: 24px;
    }
  
    .contact-text {
      flex: 1;
    }
  
    .contact-title {
      color: #333;
      margin: 0;
      font-size: 20px;
      font-weight: bold;
    }
  
    .contact-details {
      color: #555;
      margin: 5px 0 0 0;
      font-size: 16px;
    }
  
    .contact-details a {
      color:rgb(16, 5, 100);
      text-decoration: none;
    }
  
    .contact-details a:hover {
      text-decoration: underline;
    }