button {
    margin-right: 8px;
    margin-top: 5px;
    margin-left: 15px;
}

h2 {
    text-align: center;
    margin-top: 15px;
    font-size: 2rem;
}

form {
    padding: 20px;
}

.form-group {
    margin-left: 15px;
    margin-right: 15px;
}

.form-group p {
    font-size: 1rem;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 2px;
    margin-left: 10px;
}