<div class="cancel-container">
    <div class="cancel-form">
        <div class="cancel-header">
            <h1>Cancel Booking</h1>
            <button (click)="closeForm()">
                &#10006;
            </button>
        </div>
        <form [formGroup]="cancelForm">
            <div class="form-group">
                <label>Select Meal Type</label>
                <mat-radio-group formControlName="BookingType">
                    <mat-radio-button value="lunch">Lunch</mat-radio-button>
                    <mat-radio-button value="dinner">Dinner</mat-radio-button>
                    <mat-radio-button value="both">Both</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="form-group">
                <p>Are you sure you want to cancel your booking?</p>
            </div>

            <div class="form-actions">
                <button mat-button (click)="closeForm()">No</button>
                <button mat-raised-button color="warn" (click)="cancelBooking()" type="submit">Yes</button>
            </div>
        </form>
    </div>
</div>