<div class="cancel-container">
    <div class="cancel-form">
        <div class="cancel-header">
            <h1>Cancel Booking</h1>
            <button (click)="closeForm()">
                &#10006;
            </button>
        </div>
        <div class="form-group">
            <label>Total Active Bookings: {{ getActiveBookingsCount() }}</label>
            <mat-card>
                <mat-calendar [dateClass]="dateClass()" [selected]="selectedDate" (selectedChange)="onSelect($event)"
                    [dateFilter]="dateFilter"></mat-calendar>
            </mat-card>
        </div>
        <div class="form-group">
            <p>Are you sure you want to cancel your booking?</p>
        </div>
        <div class="form-actions">
            <button mat-button (click)="closeForm()">No</button>
            <button mat-raised-button color="warn" (click)="cancelBooking()" type="submit">Yes</button>
        </div>
    </div>
</div>