<div class="toolbar" role="banner">
        <img width="55" alt="Rise Logo" src="./../../assets/logo-white.svg" />
        <span class="title">Meal Facility</span>
        <ul class="social">
                <li (click)="openNotification()" openNotification><a aria-label="Notification" class="list-items"><i
                                        class="fa-sharp fa-regular fa-bell"></i></a></li>
                <li (click)="openSidebar()"><a class="list-items" data-toggle="modal" data-target="#sidemenu"
                                aria-label="side menu"><i class="fa fa-bars" aria-hidden="true"></i></a></li>
        </ul>
</div>