<div class="toolbar" role="banner">
  <li (click)="openSidebar()">
    <a
      class="list-items"
      data-toggle="modal"
      data-target="#sidemenu"
      aria-label="side menu"
      ><i class="fa fa-bars" aria-hidden="true"></i
    ></a>
  </li>
  <img width="55" alt="Rise Logo" src="./../../assets/logo-white.svg" />
  <span class="title"><a routerLink="/dashboard/home">Meal Facility</a></span>
  <ul class="social">
    <span class="name">Hello, {{ name }}!</span>
    <li (click)="openNotification()">
      <a aria-label="Notification" class="list-items"
        ><i class="fa-sharp fa-regular fa-bell"></i
      ></a>
    </li>
  </ul>
</div>
