<div class="add-booking-container">
    <div class="add-booking-form" *ngIf="isFormVisible">
        <div class="add-booking-header">
            <p>Book a Meal</p>
            <button (click)="closeForm()">
                &#10006;
            </button>
        </div>
        <div class="new-booking">
            New booking
        </div>
        <form [formGroup]="addbookingForm">
            <div class="form-group">
                <label>Select Meal Type</label>
                <mat-radio-group formControlName="BookingType">
                    <mat-radio-button value="lunch">Lunch</mat-radio-button>
                    <mat-radio-button value="dinner">Dinner</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="form-group">
                <label>Select Meal Days</label>
                <mat-form-field>
                    <mat-date-range-input [formGroup]="addbookingForm" [dateFilter]="myFilter" [min]="minDate"
                        [rangePicker]="picker">
                        <input matStartDate formControlName="BookingStartDate" placeholder="Start date">
                        <input matEndDate formControlName="BookingEndDate" placeholder="End date">
                        <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"
                        class="datepicker-toggle-container"></mat-datepicker-toggle>

                    <mat-date-range-picker #picker></mat-date-range-picker>

                    <mat-error *ngIf="hasMatBookingStartDateError()">Invalid start date</mat-error>
                    <mat-error *ngIf="hasMatBookingEndDateError()">Invalid end date</mat-error>
                </mat-form-field>
                <div class="form-group">
                    <span>Number of days selected: {{ numberOfDays }}</span>
                </div>
            </div>
            <div class="col-lg-5"></div>
        </form>

        <div class="form-actions">
            <button class="btn btn-danger" mat-raised-button (click)="bookMeal()">
                Book
            </button>
        </div>
    </div>
</div>