/* Style for the entire login/sign-up content */
.login-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

@media (max-width: 991.98px) {
    .login-content {
        flex-wrap: wrap;
    }
}

/* Style for the left section of the login/sign-up content */
.login-content .login-content-lt {
    flex: 0 0 65%;
    width: 65%;
    /* margin-top: 35px; */
    background-size: cover !important;
    height: 120vh;
    position: relative;
    background: url(./../../../assets/bg.jpg) no-repeat top center;
}

@media (max-width: 991.98px) {
    .login-content .login-content-lt {
        flex: 0 0 100%;
        width: 100%;
        height: 50vh;
    }
}

@media (max-width: 767.98px) {
    .login-content .login-content-lt {
        height: 40vh;
    }
}

/* Style for the right section of the login/sign-up content */
.login-content .login-content-rt {
    flex: 0 0 35%;
    width: 35%;
    background-color: white;
    margin-top: -20px;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #666b7a rgba(33, 37, 41, 0);
}

@media (max-width: 991.98px) {
    .login-content .login-content-rt {
        flex: 0 0 100%;
        width: 100%;
        height: auto;
    }
}

/* Style for the sign-up box */
.login-box {
    min-width: 480px;
    max-width: 480px;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 991.98px) {
    .login-box {
        min-width: 80%;
    }
}

@media (max-width: 575.98px) {
    .login-box {
        min-width: 100%;
        max-width: 440px;
    }
}

/* Logo wrapper for the sign-up box */
.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 48px;
}

.logo-wrapper img {
    margin-right: 7px;
}

.logo-wrapper span {
    color: #E23E3F;
    font-size: 34px;
    font-weight: 700;
}

/* General styles for form elements */
.form-group {
    margin-bottom: 30px;
}

label {
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.form-control {
    border: 1px solid #C9C9C9;
    border-radius: 8px;
    height: 57px;
    font-size: 16px;
    padding: 6px 12px;
}

/* Styles for the sign-up button */
.btn-container {
    margin-top: 35px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #1a73e8;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #0f59c2;
}

/* Style for the icon-after, used in the input-addon */
.icon-after {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 20px;
    color: #3E3D47;
}

.icon-after.icon-green {
    color: #34BF00;
}

/* Additional styles for responsiveness and transitions */
.login-form {
    transition: all 0.5s ease-in-out;
}

input,
textarea {
    padding: 10px;
    font-size: 16px;
}