.sidebar-modal {
    position: fixed;
    top: 80px;
    /* left: 1235px; */
    width: 300px;
    height: 100%;
    background-color: rgb(16, 5, 100);
    color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease-in-out;
    z-index: 1000;
    overflow-y: auto;
    padding: 20px;
}

.sidebar-modal.active {
    left: 0;
}

.sidebar-modal ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-modal ul li {
    margin: 20px 0;
}

.sidebar-modal ul li a {
    display: block;
    padding: 13px 18px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar-modal ul li a:hover {
    background-color: white;
    color: rgb(16, 5, 100);
}

.sidebar-modal ul li a.active {
    background-color: #007bff;
}

.sidebar-modal .btn {
    display: block;
    width: 100%;
    padding: 10px 15px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar-modal .btn-secondary {
    background-color: #6c757d;
}

.sidebar-modal .btn-secondary:hover {
    background-color: #5a6268;
}

.sidebar-modal .btn-danger {
    background-color: rgba(255, 0, 0, 0.9);
}

.sidebar-modal .btn-danger:hover {
    background-color: rgba(214, 3, 3, 0.895);
}

.sidebar-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.sidebar-overlay.active {
    display: block;
}