body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.quick-booking-container {
    width: 500px;
    height: auto;
    padding: 1rem;
    border-radius: 10px;
}

.quick-booking-form {
    background: #fff;
    padding: 1.5rem;
    max-width: 500px;
    margin: 0 auto;
}

.quick-booking-header p {
    font-weight: 700;
    color: red;
    margin: auto;
    font-size: 2.5rem;
}

.quick-booking-header {
    display: flex;
    align-items: center;
}

.quick-booking-header button {
    color: red;
    background-color: white;
    border: none;
    font-size: x-large;
    cursor: pointer;
    margin-left: 0;
}

.form-group {
    margin: 20px 0;
}

label {
    display: block;
    margin: 0 0 1rem 0;
    color: black;
    font-weight: 400;
    font-size: 18px;
}

mat-radio-group {
    display: flex;
    flex-direction: column;
}

mat-radio-button {
    margin-bottom: 10px;
}

mat-form-field {
    width: 100%;
}

mat-datepicker-toggle {
    margin-left: -30px;
}

mat-input-element {
    padding: 10px;
}

.form-actions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    background-color: red;
}

button[mat-button] {
    background: #e0e0e0;
    color: #666;
}

.new-booking {
    font-size: 1.8rem;
    font-weight: 500;
    padding: 2rem 0 0 0;
}