<div class="booking-container">
    <div class="booking-form" *ngIf="isFormVisible">
        <h2>Book a Meal</h2>
        <form [formGroup]="bookingForm">
            <!-- Select Category -->
            <div class="form-group">
                <label>Select Category</label>
                <mat-radio-group formControlName="category">
                    <mat-radio-button value="employee">Employees</mat-radio-button>
                    <mat-radio-button value="nonEmployee">Non Employees</mat-radio-button>
                    <mat-radio-button value="customBooking">Custom Booking</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="form-group">
                <label>Select Meal Type</label>
                <mat-radio-group formControlName="mealType">
                    <mat-radio-button value="lunch">Lunch</mat-radio-button>
                    <mat-radio-button value="dinner">Dinner</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="form-group">
                <mat-form-field class="example-form-field">
                    <mat-label>First campaign</mat-label>
                    <mat-date-range-input [formGroup]="campaignOne" [rangePicker]="campaignOnePicker"
                        [comparisonStart]="campaignTwo.value.start" [comparisonEnd]="campaignTwo.value.end">
                        <input matStartDate placeholder="Start date" formControlName="start" />
                        <input matEndDate placeholder="End date" formControlName="end" />
                    </mat-date-range-input>
                    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                    <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
                </mat-form-field>
            </div>

            <div class="form-group">
                <label>Booking Count</label>
                <input matInput formControlName="bookingCount" placeholder="Enter Booking Count" type="number" />
            </div>
        </form>

        <div class="form-actions">
            <button mat-button (click)="closeForm()">Cancel</button>
            <button mat-raised-button color="primary" (click)="bookMeal()">
                Book
            </button>
        </div>
    </div>
</div>