<body class="signup-page">
    <section class="signup-content">
        <div class="signup-content-lt"></div>
        <div class="signup-content-rt">
            <div class="signup-box">
                <form [formGroup]="signupForm" class="signup-form">
                    <div class="logo-wrapper">
                        <img src="../../assets/logo.svg" alt="Rishabh Software">
                        <span>Meal Facility</span>
                    </div>
                    <h3 class="signup-head">Create an account</h3>
                    <p class="signup-text">
                        Enter your information to create a new account.
                    </p>

                    <div class="form-group">
                        <label class="control-label">First Name</label>
                        <div class="input-addon"
                            [class.error]="signupForm.controls['firstName'].dirty && signupForm.hasError('required', 'firstName')">
                            <input formControlName="firstName" class="form-control" type="text" placeholder="Robert"
                                autofocus />
                            <i class='fa fa-check icon-after icon-green'></i>
                        </div>
                        <small
                            *ngIf="signupForm.controls['firstName'].dirty && signupForm.hasError('required', 'firstName')"
                            class="text-danger">*First name is required</small>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Last Name</label>
                        <div class="input-addon"
                            [class.error]="signupForm.controls['lastName'].dirty && signupForm.hasError('required', 'lastName')">
                            <input formControlName="lastName" class="form-control" type="text" placeholder="Smith"
                                autofocus />
                            <i class='fa fa-check icon-after icon-green'></i>
                        </div>
                        <small
                            *ngIf="signupForm.controls['lastName'].dirty && signupForm.hasError('required', 'lastName')"
                            class="text-danger">*Last name is required</small>
                    </div>

                    <div class="form-group">
                        <label class="control-label">User Name</label>
                        <div class="input-addon"
                            [class.error]="signupForm.controls['userName'].dirty && signupForm.hasError('required', 'userName')">
                            <input formControlName="userName" class="form-control" type="text"
                                placeholder="Smith18072003" autofocus />
                            <i class='fa fa-check icon-after icon-green'></i>
                        </div>
                        <small
                            *ngIf="signupForm.controls['userName'].dirty && signupForm.hasError('required', 'userName')"
                            class="text-danger">*Last name is required</small>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Email</label>
                        <div class="input-addon"
                            [class.error]="signupForm.controls['email'].dirty && signupForm.hasError('required', 'email')">
                            <input formControlName="email" class="form-control" type="email"
                                placeholder="robertsmith@rishabhsoft.com" autofocus /><i
                                class='fa fa-check icon-after icon-green'></i>
                        </div>
                        <small *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required', 'email')"
                            class="text-danger">*Email is required</small>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Password</label>
                        <div class="input-addon"
                            [class.error]="signupForm.controls['password'].dirty && signupForm.hasError('required', 'password')">
                            <input formControlName="password" id="password-field" class="form-control" [type]="type"
                                placeholder="Robert@123" autofocus />
                            <i (click)="toggleVisibility()" class='fa {{eyeIcon}}'></i>
                        </div>
                        <small
                            *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required', 'password')"
                            class="text-danger">*Password is required</small>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Confirm Password</label>
                        <div class="input-addon"
                            [class.error]="signupForm.controls['confirmPassword'].dirty && signupForm.hasError('required', 'confirmPassword')">
                            <input formControlName="confirmPassword" id="confirm-password-field" class="form-control"
                                [type]="type" placeholder="Robert@123" autofocus />
                            <i (click)="toggleVisibility1()" class='fa {{eyeIcon}}'></i>
                        </div>
                        <small
                            *ngIf="signupForm.controls['confirmPassword'].dirty && signupForm.hasError('required', 'confirmPassword')"
                            class="text-danger">*Enter Password again</small>
                    </div>

                    <div class="form-group btn-container">
                        <button class="btn btn-xl btn-signup" (click)="onSubmite()">Sign Up</button>
                    </div>

                    <div class="utility">
                        <p>
                            Already have an account?
                            <a class="nav-link" class="form-link" routerLink="/login">Login</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>