<body class="forgot-page">
    <section class="forgot-content">
        <div class="forgot-content-lt"></div>
        <div class="forgot-content-rt">
            <div class="forgot-box">
                <form class="forgot-form" [formGroup]="forgotPasswordForm">
                    <div class="logo-wrapper">
                        <img src="../../assets/logo.svg" alt="Rishabh Software">
                        <span>Meal Facility</span>
                    </div>
                    <h3 class="forgot-head">Forgot Password?</h3>
                    <p class="forgot-text">Enter the email below to continue.</p>

                    <div class="form-group">
                        <label class="control-label">Email</label>
                        <div class="input-addon"
                            [class.error]="forgotPasswordForm.controls['email'].dirty && forgotPasswordForm.hasError('required','email')">
                            <input formControlName="Username" class="form-control" type="text"
                                placeholder="robertsmith@rishabhsoft.com" autofocus>
                            <div class="icon-after icon-green"><i class="icon-check"></i></div>
                        </div>
                        <small
                            *ngIf="forgotPasswordForm.controls['username'].dirty && forgotPasswordForm.hasError('required','email')"
                            class="text-danger">Email is Required</small>
                    </div>

                    <div class="form-group btn-container">
                        <button class="btn btn-xl btn-signup" (click)="onSubmite()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>