/* Body */
.forgot-page {
    margin-top: 0;
}

/* forgot Content */
.forgot-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

@media (max-width: 991.98px) {
    .forgot-content {
        flex-wrap: wrap;
    }
}

/* Left Content */
.forgot-content .forgot-content-lt {
    flex: 0 0 65%;
    width: 65%;
    background-size: cover !important;
    height: 100vh;
    position: relative;
    background: url(./../../assets/bg.jpg) no-repeat top center;
}

@media (max-width: 991.98px) {
    .forgot-content .forgot-content-lt {
        flex: 0 0 100%;
        width: 100%;
        height: 50vh;
        background: url(./../../assets//bg-sm.jpg) no-repeat top center;
    }
}

@media (max-width: 767.98px) {
    .forgot-content .forgot-content-lt {
        height: 40vh;
    }
}

/* Right Content */
.forgot-content .forgot-content-rt {
    flex: 0 0 35%;
    width: 35%;
    background-color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #666b7a rgba(33, 37, 41, 0);
}

@media (max-width: 991.98px) {
    .forgot-content .forgot-content-rt {
        flex: 0 0 100%;
        width: 100%;
        height: auto;
    }
}

/* forgot Box */
.forgot-content .forgot-content-rt .forgot-box {
    min-width: 480px;
    max-width: 480px;
    background-color: #fff;
    perspective: 800px;
    transition: all 0.5s ease-in-out;
    border-radius: 12px;
    padding: 20px;
    margin: 40px 0;
}

@media (max-width: 1500px) {
    .forgot-content .forgot-content-rt .forgot-box {
        min-width: 80%;
    }
}

@media (max-width: 991.98px) {
    .forgot-content .forgot-content-rt .forgot-box {
        margin: 20px 0 0 0;
        min-width: 480px;
    }
}

@media (max-width: 575.98px) {
    .forgot-content .forgot-content-rt .forgot-box {
        min-width: 100%;
        max-width: 440px;
    }
}

/* Logo Wrapper */
.forgot-content .forgot-content-rt .forgot-box .logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;
}

.forgot-content .forgot-content-rt .forgot-box .logo-wrapper img {
    margin-right: 7px;
}

.forgot-content .forgot-content-rt .forgot-box .logo-wrapper span {
    color: #E23E3F;
    font-size: 34px;
    font-weight: 700;
}

/* Form Group */
.forgot-content .forgot-content-rt .forgot-box .form-group {
    margin-bottom: 30px;
}

/* forgot Head */
.forgot-content .forgot-content-rt .forgot-box .forgot-head {
    margin-top: 0;
    margin-bottom: 22px;
    color: #000;
    text-align: left;
    font-size: 32px;
    font-weight: 700;
}

/* forgot Text */
.forgot-content .forgot-content-rt .forgot-box .forgot-text {
    color: rgba(0, 0, 0, 0.6);
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 60px;
}

/* Label */
.forgot-content .forgot-content-rt .forgot-box label {
    color: #000;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 15px;
}

/* Form Control */
.forgot-content .forgot-content-rt .forgot-box .form-control {
    border: 1px solid #C9C9C9;
    height: 57px;
    border-radius: 8px;
    font-size: 16px;
    color: #000;
    font-weight: 400;
    padding: 6px 12px 6px 24px;
}

/* Input Addon */
.forgot-content .forgot-content-rt .forgot-box .input-addon {
    position: relative;
    display: flex;
    align-items: flex-end;
}

.forgot-content .forgot-content-rt .forgot-box .input-addon.error {
    border: 1px solid red;
    border-radius: 8px;
}

/* Icon After */
.forgot-content .forgot-content-rt .forgot-box .input-addon .icon-after {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #3E3D47;
}

.forgot-content .forgot-content-rt .forgot-box .input-addon .icon-after.icon-green {
    color: #34BF00;
}

.forgot-content .forgot-content-rt .forgot-box .input-addon .icon-after.icon-red {
    color: #D13434;
}

.forgot-content .forgot-content-rt .forgot-box .input-addon i {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10px;
}

/* Utility */
.forgot-content .forgot-content-rt .forgot-box .utility {
    text-align: right;
}

.forgot-content .forgot-content-rt .forgot-box .utility p {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 0;
}

.forgot-content .forgot-content-rt .forgot-box .utility p a {
    color: #3377C5;
    text-decoration: underline;
}

.forgot-content .forgot-content-rt .forgot-box .utility p a:hover {
    color: #3377C5;
    text-decoration: underline;
}

/* Button Container */
.forgot-content .forgot-content-rt .forgot-box .btn-container {
    margin-top: 35px;
    margin-bottom: 0;
}

.forgot-content .forgot-content-rt .forgot-box .btn-container .btn {
    width: 100%;
}

/* forgot Form */
.forgot-content .forgot-content-rt .forgot-box .forgot-form {
    position: relative;
    backface-visibility: hidden;
    transition: all 0.5s ease-in-out;
}

/* Form Control Styles */
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-family: "Roboto", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #FFF;
    background-clip: padding-box;
    border: 2px solid #C9C9C9;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .form-control {
        transition: none;
    }
}

.form-control:focus {
    color: #212529;
    background-color: #FFF;
    border-color: #E23E3F;
    outline: 0;
    box-shadow: none;
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

/* Link Styles */
.form-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.form-link:hover {
    color: blue;
    text-decoration: underline;
}

/* Button Styles */
.btn-container {
    margin-top: 35px;
    margin-bottom: 0;
}

.btn-container .btn {
    width: 100%;
    height: 50px;
    color: white;
    background-color: rgba(255, 0, 0, 0.9);
    font-weight: 500;
}

.btn-container .btn:hover {
    background-color: rgba(214, 3, 3, 0.895);
}

/* Icon Styles */
.fa-solid,
.fa-eye .fa,
.fa-eye-slash .fa,
.fa-check .fa,
.fa {
    position: absolute;
    top: 20%;
    left: 95%;
    right: 10%;
    cursor: pointer;
}