<body class="otp-page">
    <section class="otp-content">
        <div class="otp-content-lt"></div>
        <div class="otp-content-rt">
            <div class="otp-box">
                <form class="otp-form" [formGroup]="otpVerificationForm">
                    <div class="logo-wrapper">
                        <img src="./../../assets/logo.svg" alt="Rishabh Software">
                        <span>Meal Facility</span>
                    </div>
                    <h3 class="otp-head">OTP Verification</h3>
                    <p class="otp-text">Enter the OTP below to continue.</p>

                    <div class="form-group">
                        <label class="control-label">Enter Otp</label>
                        <div class="input-addon"
                            [class.error]="otpVerificationForm.controls['EnteredOTP'].dirty && otpVerificationForm.hasError('required', 'EnteredOTP')">
                            <input formControlName="EnteredOTP" class="form-control" type="text" placeholder="Enter Otp"
                                autofocus />
                            <i class='fa fa-check icon-after icon-green'></i>
                        </div>
                        <small
                            *ngIf="otpVerificationForm.controls['EnteredOTP'].dirty && otpVerificationForm.hasError('required', 'EnteredOTP')"
                            class="text-danger">*Otp is required</small>
                    </div>

                    <div class="form-group btn-container">
                        <button class="btn btn-xl btn-otp" (click)="onSubmit()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>