<body class="otp-page">
    <section class="otp-content">
        <div class="otp-content-lt"></div>
        <div class="otp-content-rt">
            <div class="otp-box">
                <form class="otp-form" [formGroup]="otpVerificationForm">
                    <div class="logo-wrapper">
                        <img src="./../../assets/logo.svg" alt="Rishabh Software">
                        <span>Meal Facility</span>
                    </div>
                    <h3 class="otp-head">OTP Verification</h3>
                    <p class="otp-text">Enter the OTP below to continue.</p>

                    <div class="form-group">
                        <label class="control-label">OTP</label>
                        <div class="input-addon"
                            [class.error]="otpVerificationForm.controls['OtpVerification'].dirty && otpVerificationForm.hasError('required', 'OtpVerification')">
                            <input formControlName="OtpVerification" class="form-control" type="password"
                                placeholder="Enter Otp" required />
                            <small
                                *ngIf="otpVerificationForm.controls['OtpVerification'].dirty && otpVerificationForm.hasError('required', 'OtpVerification')"
                                class="text-danger">Enter Otp again</small>
                        </div>
                    </div>

                    <div class="form-group btn-container">
                        <button class="btn btn-xl btn-otp" (click)="onSubmite()">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>