.demo-inline-calendar-card {
  width: 500px;
  margin: auto;
}

::ng-deep.booking-date {
  border-radius: 50%;
  background-color: yellow;
}

.home-page {
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.home-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.home-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.home-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.view-booking {
  margin-bottom: 20px;
  padding: 12px;
  background-color: red;
  align-self: center;
}

.book-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.book-a-meal {
  margin: 10px;
  padding: 10px 12px;
  background-color: red;
  font-weight: 500;
}

.qr-coupon {
  margin: 30px 10px 0 10px;
  padding: 10px 12px;
  background-color: red;
  font-weight: 500;
}

.today-date .mat-calendar-body-cell-today {
  background-color: red !important;
}

.mat-calendar-body-cell.today .mat-calendar-body-cell-content::after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  right: 2px;
}

/* Styling for meal of the day section */
.today-meal-wrapper {
  margin-bottom: 30px;
  padding: 20px;
  background-color: rgb(16, 5, 100);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 70%;
  margin: 0 auto;
  color: white;
  padding-left: 30px;
}

.today-meal-block {
  display: flex;
  justify-content: space-between;
}

.today-meal-col {
  flex: 1;
}

.head p {
  padding: 16px;
  font-size: 25px;
  font-weight: 600;
}

.meal-header p {
  font-weight: 700;
  padding: 2rem 1rem;
  text-align: center;
  font-size: 2.5rem;
  color: red;
}

.today-meal h4 {
  margin-bottom: 15px;
  color: #ffffff;
  font-size: 34px;
}

.today-meal li {
  margin-bottom: 10px;
  color: #fff;
  font-size: 16px;
  padding: 0.5rem;
}

@media (max-width: 768px) {
  .home-content {
    flex-direction: column;
  }

  .home-left {
    width: 100%;
  }

  .home-right {
    width: 100%;
  }
}