<div class="home-page">
  <div class="book-div">
    <button (click)="openAddBookingDialog()" class="btn btn-danger book-a-meal">
      Book a Meal
    </button>

    <button (click)="openQuickBookingDialog()" class="btn btn-danger book-a-meal">
      Quick Booking
    </button>

    <button (click)="openViewBookingDialog()" class="btn btn-danger book-a-meal">
      View Booking
    </button>

    <button (click)="openCancelBookingDialog()" class="btn btn-danger book-a-meal">
      Cancel Booking
    </button>
  </div>
  <div class="home-content">
    <div class="home-left">
      <mat-card class="demo-inline-calendar-card">
        <mat-calendar class="calendar" [dateClass]="dateClass()" [(selected)]="selectedDate"
          (selectedChange)="onSelect($event)" [dateFilter]="dateFilter">
        </mat-calendar>
      </mat-card>
    </div>

    <div class="home-right">
      <div class="meal-header">
        <p>Meal of the day</p>
      </div>
      <div class="today-meal-wrapper" *ngIf="selectedDate">
        <div class="today-meal-block">
          <div class="today-meal-col">
            <div class="head">
              <p>Lunch</p>
            </div>
            <ul class="today-meal">
              <li *ngFor="let item of currentMenu.lunch">{{ item }}</li>
            </ul>
          </div>
          <div class="today-meal-col">
            <div class="head">
              <p>Dinner</p>
            </div>
            <ul class="today-meal">
              <li *ngFor="let item of currentMenu.dinner">{{ item }}</li>
            </ul>
          </div>
        </div>
      </div>
      <button (click)="openQrDialog()" class="btn btn-danger qr-coupon">
        Generate QR code
      </button>
    </div>
  </div>
</div>