<div class="footer" role="banner">
    <ul>
        <div class="list-items" routerLinkActive="active" ariaCurrentWhenActive="page">
            Copyright © 2024 <a routerLink="/terms-and-condition">Meal Facility.</a> All Rights Reserved.
        </div>
        <div class="social">
            <a href="https://www.facbook.com" aria-label="Facebook"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com" aria-label="Linkedin"><i class="fab fa-linkedin"></i></a>
            <a href="https://www.twitter.com" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
        </div>
    </ul>
</div>